<div class="[ contact ] [ panel ] [ bg-secondary color-light ]">
  <div class="wrapper">
    <div class="leading-flat font-sans weight-bold flow-space-700">
      <ul class="[ contact__list ] [ auto-grid ]">
        <li data-icon=" {{ adress.icon }}">
          <a href="https://goo.gl/maps/WSqvkUqKB3n" target="_blank"
            >{{ adress.title }}</a
          >
        </li>
        <li data-icon=" {{ phone.icon }}">
          <a href="tel:+380971336851">{{ phone.number }}</a>
        </li>
        <li data-icon=" {{ email.icon }}">
          <a href="mailto:advocate.rivne@gmail.com">{{ email.adress }}</a>
        </li>
        <li data-icon="👍">
          <a href="https://www.facebook.com/katiazubik" target="_blank"
            >facebook</a
          >
        </li>
        <li data-icon="📷">
          <a href="https://www.instagram.com/advokat_pancheliuga/" target="_blank"
            >instagram</a
          >
        </li>
        <li data-icon="🔗">
          <a
            href="https://www.linkedin.com/in/kateryna-pancheliuga-31747117b/"
            target="_blank"
            >linkedIn</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
