<article class="[ key-facts ] [ panel ] [ bg-dark color-light ]">
  <div class="wrapper flow">
    <h2 class="headline" data-highlight="quaternary">
      Ключові факти моєї професійної діяльності
    </h2>
    <div class="leading-flat font-sans weight-bold flow-space-700">
      <ol class="[ key-facts__list ] [ auto-grid ]">
        {% for item in keyFacts %}
        <li class="flow flow-space-300">
          <span class="text-700 lg:text-800 color-primary"
            >{{ item.primary }}</span
          >
          <span class="text-600 lg:text-700">{{ item.secondary }}</span>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</article>
