<article class="[ media-space ] [ bg-light-glare ]">
  <div class="[ wrapper ] [ flow ]">
    <div class="[ media-space__inner ] [ flow ]">
      <div class="[ media-space__intro ] [ flow flow-space-300 ]">
        <h2
          class="[ media-space__heading ] [ headline ] [ color-quinary-shade lg:measure-micro ]"
          data-highlight="dark"
        >
          {{ mediaSpace.title }}
        </h2>
        <p class="[ media-space__summary ] [ measure-compact ]">
          {{ mediaSpace.summary }}
        </p>
      </div>
      {% for item in mediaSpace.videoid %}
      <lite-youtube
        videoid="{{ item }}"
        style="
          background-image: url('https://i.ytimg.com/vi/{{ item }}/hqdefault.jpg');
        "
        class="[ media-space__item ]"
      >
        <button type="button" class="lty-playbtn">
          <span class="lyt-visually-hidden"
            >Play Video: Keynote (Google I/O '18)</span
          >
        </button>
      </lite-youtube>
      {% endfor %}
    </div>
    <div class="[ media-space__action ] [ flow-space-700 ]">
      <a
        href="https://www.youtube.com/playlist?list=PLDKh9M3PsFucU9Z7I3gUJDp_ciF-Jnk7f"
        target="_blank"
        class="button"
        >Більше відео</a
      >
    </div>
  </div>
</article>
