<div class="[ bg-light-glare ]" id="post-list">
  <div class="[ wrapper ]">
    {% if postListHeadline %}
    <h2 class="[ headline ] [ measure-micro ]" data-highlight="primary">
      {{ postListHeadline }}
    </h2>
    {% endif %}
    <div>
      <ol class="card-grid">
        {% for item in postListItems %}
        <li>
          <a
            href="{{ item.url }}"
            class="[ card radius frame ] [ flow ] [ bg-primary-glare ]"
          >
            <h4 class="color-dark-shade text-600">{{ item.data.title }}</h4>
            <span class="color-dark-shade leading-flat flow-space-300"
              >{{ item.data.description }}</span
            >
          </a>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
