<div class="[ wrapper ]">
  <table class="[ radius frame ] [ bg-primary-glare ]">
    <thead>
      <tr>
        <th scope="col">Назва</th>
        <th scope="col">Опис</th>
        <th scope="col">Вартість</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th rowspan="1" scope="row">Консультації</th>
        <td></td>
        <td>від 1000 грн.</td>
      </tr>
      <tr>
        <th rowspan="2" scope="row">Складання документів</th>
        <td>Складання Адвокатського запиту</td>
        <td>від 500 грн.</td>
      </tr>
      <tr>
        <td>Складання документів, заяв, звернень, скарг інше</td>
        <td>від 1500 грн.</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Участь у переговорах</td>
        <td>від 2000 грн./год.</td>
      </tr>
      <tr>
        <th rowspan="16" scope="row">
          Представництво інтересів клієнта в суді
        </th>
        <td>Складання позовної заяви</td>
        <td>від 5000 грн.</td>
      </tr>
      <tr>
        <td>- про розірвання шлюбу</td>
        <td>3000 грн.</td>
      </tr>
      <tr>
        <td>- про стягнення аліментів</td>
        <td>3000 грн.</td>
      </tr>
      <tr>
        <td>Складання заяви про забезпечення позову</td>
        <td>від 2500 грн.</td>
      </tr>
      <tr>
        <td>Складання заяви про видачу судового наказу</td>
        <td>від 3000 грн.</td>
      </tr>
      <tr>
        <td>
          Відзив на позовну заяву, відповідь на відзив, пояснення третьої особи
          щодо позову або відзиву
        </td>
        <td>від 4000 грн.</td>
      </tr>
      <tr>
        <td>Заяви по суті справи</td>
        <td>від 2000 грн.</td>
      </tr>
      <tr>
        <td>Участь у судовому засіданні у суді першої інстанції</td>
        <td>від 1500 грн./судове засідання</td>
      </tr>
      <tr>
        <td>
          Прибуття адвокатом для участі у судовому засіданні у суд першої
          інстанції, коли засідання не відбулося
        </td>
        <td>1000 грн.</td>
      </tr>
      <tr>
        <td>Гонорар за прийняття рішення на користь клієнта</td>
        <td>від 4000 грн. до 10% суми позову</td>
      </tr>
      <tr>
        <td>Складання апеляційної скарги на ухвалу суду</td>
        <td>від 5000 грн.</td>
      </tr>
      <tr>
        <td>Складання апеляційної скарги на рішення суду</td>
        <td>від 6000 грн.</td>
      </tr>
      <tr>
        <td>Участь у судовому засіданні у суді апеляційної інстанції</td>
        <td>від 2000 грн./судове засідання</td>
      </tr>
      <tr>
        <td>
          Прибуття адвокатом для участі у судовому засіданні у суд апеляційної
          інстанції, коли засідання не відбулося
        </td>
        <td>1000 грн.</td>
      </tr>
      <tr>
        <td>Складання касаційної скарги</td>
        <td>від 8000 грн.</td>
      </tr>
      <tr>
        <td>Участь у судовому засіданні у суді касаційної інстанції</td>
        <td>5000 грн./судове засідання</td>
      </tr>
    </tbody>
  </table>
</div>
