<article class="[ recent-feed ] [ bg-light-glare ]">
  <div class="[ wrapper ] [ flow flow-space-300 ]">
    <h2
      class="[ recent-feed__heading ] [ headline ] [ color-quinary-shade md:measure-micro ]"
      data-highlight="dark"
    >
      {{ recentFeed.title }}
    </h2>
    <p class="visually-hidden" id="recent-feed-desc">
      Збірка останніх публікацій адвоката Панчелюги Катерини.
    </p>
    <div class="[ recent-feed__items ] [ flow-space-700 ]">
      <ul class="recent-feed__list">
        {% for item in collections.recentPosts %}
        <li class="[ recent-feed__item ]">
          <a
            href="{{ item.url }}"
            class="[ card radius frame ] [ flow ] [ bg-primary-glare ]"
          >
            <h4 class="color-dark-shade text-600">{{ item.data.title }}</h4>
            <span class="color-dark-shade leading-flat flow-space-300"
              >{{ item.data.description }}</span
            >
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="[ recent-feed__action ] [ flow-space-700 ]">
      <a class="button" href="/blog/">усі дописи</a>
    </div>
  </div>
</article>
