{% extends 'layouts/base.html.njk' %}

{% block title %}Business ecosystem template{% endblock %}
{% block meta_description %}Business ecosystem page template from the W3C design system{% endblock %}

{% block body_class %}class="ecosystem"{% endblock %}

{% block breadcrumbs %}
	{% include 'components/breadcrumbs.html.njk' %}
{% endblock %}

{% block content %}

	{% include 'components/hero-landing.html.njk' %}

	{% include 'components/fifty-fifty.html.njk' %}

	{% include 'components/text.html.njk' %}

	{% include 'components/fifty-fifty-reversed.html.njk' %}

	{% include 'components/group-list.html.njk' %}

	{% include 'components/text.html.njk' %}

	{% include 'components/activity.html.njk' %}

	{% include 'components/content-slider.html.njk' %}

	{% include 'components/members.html.njk' %}

	{% include 'components/evangelists.html.njk' %}

{% endblock %}

{% block crosslinks %}
{% endblock %}

{% block scripts %}

<script>
	if (document.documentElement.classList.contains('js')) {

		let sliderScript = document.createElement('script');
		sliderScript.src = '/dist/assets/js/slider.js';
		document.querySelector('body').appendChild(sliderScript);

	}
</script>

{% endblock %}