/*------------------------------------*\
    #Global header core
\*------------------------------------*/

.no-js {

	[data-trigger="account-menu"],
	.account-menu {

		display: none;

	}

}

.global-header {

	background-color: $white;

}

.global-header .banner {

	background-color: $deep-green;
	padding-bottom: rem(10);
	padding-top: rem(10);

}

.global-header .banner__inner {

	align-items: center;
	display: flex;

	.icon--beta {

		flex: none;
		width: rem(61);

	}

	p {

		@include txt-eris;

	}

	a {

		color: $deep-blue;

		&:focus {

			color: $black;

		}

	}

}

.banner__inner p {

	margin-left: rem(10);

}

.global-header [role="status"] {

	@extend %visuallyhidden;

}